USE [CoreProyectoDB]
GO
/****** Object:  Table [dbo].[accountTable]    Script Date: 10/11/2019 9:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accountTable](
	[IDENTIFIER] [nvarchar](16) NOT NULL,
	[ACCOUNT_NAME] [nvarchar](128) NOT NULL,
	[ACCOUNT_TYPE] [nvarchar](64) NOT NULL,
	[ACCOUNT_STATE] [nvarchar](64) NOT NULL,
	[BALANCE] [decimal](18, 0) NOT NULL,
	[OPENDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_accountTable] PRIMARY KEY CLUSTERED 
(
	[OPENDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accountTable] ADD  DEFAULT ('ACTIVA') FOR [ACCOUNT_STATE]
GO
ALTER TABLE [dbo].[accountTable] ADD  DEFAULT ((0.0)) FOR [BALANCE]
GO
ALTER TABLE [dbo].[accountTable] ADD  DEFAULT (getdate()) FOR [OPENDATE]
GO
ALTER TABLE [dbo].[accountTable]  WITH CHECK ADD FOREIGN KEY([IDENTIFIER])
REFERENCES [dbo].[clientTable] ([IDENTIFIER])
GO
ALTER TABLE [dbo].[accountTable]  WITH CHECK ADD FOREIGN KEY([IDENTIFIER])
REFERENCES [dbo].[clientTable] ([IDENTIFIER])
GO
