USE [CoreProyectoDB]
GO
/****** Object:  StoredProcedure [dbo].[interbankTransfer]    Script Date: 10/11/2019 9:36:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[interbankTransfer]
	-- INSERTAR AQUI PARAMETROS --
AS
	-- INSERTAR AQUI PROCESO INTERBANCARIO --
	-- INSERT INTO dbo.transactionTable (IDENTIFIER_ROOT, IDENTIFIER_AFFECTED, ACCOUNT_ROOT, ACCOUNT_AFFECTED, TYPE, DESCRIPTION, BALANCE) --
	-- VALUES (@Identifier, 'N/A', @Name, 'N/A', 'INTERBANCARIA', @Description, @Amount) --
RETURN 0
GO
